# 파이썬 패키지 설치 목록
python-dotenv~=1.0.1
Flask~=3.1.0
Flask-Migrate~=4.1.0
click~=8.1.8
Flask-Login~=0.6.3
Werkzeug~=3.1.3
alembic~=1.14.1
SQLAlchemy~=2.0.37
requests~=2.32.3
beautifulsoup4~=4.12.3
Flask-SQLAlchemy~=2.5.1