Flask==2.2.3
Werkzeug==2.2.3
flask_sqlalchemy==2.5.1
SQLAlchemy==1.4.44
python-dotenv~=1.0.1
Flask-Migrate~=4.1.0
click~=8.1.8
Flask-Login~=0.6.3
alembic~=1.14.1
psycopg2-binary~=2.9.3
requests~=2.32.3
beautifulsoup4~=4.12.3
Flask-WTF~=1.0.1
